body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 80px;
  width: 100%;
  padding: 10px;
  background-color: #10254c;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.scrolled #footer {
  visibility: visible;
}
.list-footer {
  list-style-type: none;
  display: flex;
  justify-content: start;
  font-size: 2rem;
  margin: 0;
  text-decoration-color: #66e8f2;
}

.f5 {
  display: flex;
  justify-self: flex-end;
  color: #66e8f2;
  font-size: 2rem;
}
.footer:hover {
  text-decoration: underline;
}
