.title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
  }

.contenido {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
    background-color: rgba(127, 200, 255, 0.7); 
    padding-bottom: 4em;
}

h2 {
    text-align: left;
    font-size: 2em;
    width: 98%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
    color: white;
}

ul {
    margin-left: 3em;
    font-size: 2em;
    color: white;
}

h3 {
    font-size: 2em;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}