.title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    color: white;
    font-size: 4em;
}

.contenido {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 6em;
    background-color: rgba(127, 200, 255, 0.3);
    padding-bottom: 4em;
}

.container-whatdowedo {
    margin-top: 10em;
}

.container-whatdowedo h2 {
    text-align: left;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
    color: white;
}

.container-whatdowedo ul {
    margin-left: 3em;
    font-size: 2em;
    color: white;
    text-align: justify;
    margin-right: 3em;
}

.contenido li {
    margin-bottom: 0.5em;
    list-style: circle;
}

.container-whatdowedo h3 {
    font-size: 2em;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}

@media (max-width: 767px) {
    .title {
        font-size: 2em;
    }


    .container-whatdowedo h3 {
        font-size: 1.6em;
        text-decoration: underline;
        text-align: center;
        margin-right: 3em;
    }


    .container-whatdowedo {
        margin-top: 1em;
        margin-left: -1.8em;
        margin-right: -1.8em;
    }

    .container-whatdowedo ul {
        font-size: 1.3em;
        text-align: justify;
        letter-spacing: normal;
        text-justify: inter-word;
    }
}

@media (max-width: 480px) {

    .title {
        font-size: 3.5em;
    }

    .contenido {
        width: 100%;
        margin-left: 3.5em;
    }

    .container-whatdowedo {
        margin-top: 8em;
    }

    .container-whatdowedo h2,
    .container-whatdowedo h3 {
        font-size: 2em;
    }

    .container-whatdowedo ul {
        font-size: 1.8em;
    }
}

@media screen and (min-device-width: 481px) and (orientation:landscape) {

    .title {
        font-size: 3.5em;
    }

    .contenido {
        width: 90%;
    }

    .container-whatdowedo {
        margin-top: 8em;
    }

    .container-whatdowedo h2,
    .container-whatdowedo h3 {
        font-size: 1.8em;
    }

    .container-whatdowedo ul {
        font-size: 1.6em;
    }
}

@media screen and (min-device-width: 481px) and (orientation:portrait) {

    .title {
        font-size: 3.5em;
    }

    .container-whatdowedo {
        margin-top: 8em;
        margin-left: -1.5em;
        width: 99%;
    }

    .container-whatdowedo h2,
    .container-whatdowedo h3 {
        font-size: 1.8em;
    }

    .container-whatdowedo ul {
        font-size: 1.6em;
    }

}