.whatdo-title {
    font-size: 3em;
    margin-bottom: 1em;
    color: var(--white);
}

.whatdo-text ul {
    font-size: 2em;
    color: var(--white);
    text-align: justify;
    margin-bottom: 5rem;
}

.whatdo-text ul:last-child {
    margin-bottom: 0;
}

.whatdo-text li {
    margin-bottom: 0.5em;
}


@media screen and (min-device-width: 481px) and (orientation: portrait) {

    .whatdo-title {
        font-size: 2.4em;
    }

    .whatdo-text ul {
        font-size: 2em;
}

}

@media (max-width: 480px) {

    .whatdo-title {
        font-size: 1.8em;
    }

    .whatdo-text ul {
        font-size: 1.3em;
    }
}