.sectionMap {
    width: 100vw;
    height: 70vh
}

.redMap {
    width: 100vw;
}

.redMap img{
    width: 100%;
    height: auto;
    z-index: 0;
}

.redIcon {
    background: none;
    border: none;
    z-index: 1;
}

.redIcon img {
    height: 3rem;
    transition: transform 0.3s ease;
}

.redIcon:hover img{
    cursor: pointer;
    transform: scale(1.4);
}

#eventbrite {
    position: absolute;
    top: 65vh;
    left: 30vw;
}

#github {
    position: absolute;
    top: 42vh;
    left: 22vw;
}

#facebook {
    position: absolute;
    top: 38vh;
    left: 49vw;
}

#linkedin {
    position: absolute;
    top:45vh;
    left: 35vw;
}

#spotify {
    position: absolute;
    top:57vh;
    left: 43vw;
}

#xTwitter {
    position: absolute;
    top: 60vh;
    left: 56vw;
}

#youtube {
    position: absolute;
    top: 46vh;
    left: 64vw;
}

#twitch {
    position: absolute;
    top: 50vh;
    left: 76vw;
}