.form-contact {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
input {
  padding: 1rem;
  margin: 1rem;
  width: 40rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: none;
  border: none;
  outline: none;
}
.form-message {
  margin: 1rem;
  width: 40rem;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: none;
  outline: none;
  border: none;
}
.contact-form-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.send-contact {
  background-color: rgb(16, 37, 76, 70%);
  width: 10rem;
  height: 4rem;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: none;
  outline: none;
  border: none;
  color: white;
}

.form-message {
  padding: 1rem;
}


