.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcomeMenssage {
    color: var(--white);
    width: 90%;
    font-size: 3rem;
    text-align: center;
    margin: 3rem auto;
    opacity: 0;
    animation: letra-aparece 1.5s ease-in-out forwards;

}


@keyframes letra-aparece {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}