.blog-list-container {
  width: 100vw;
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-subhead {
  width: 100%;
  color: var(--white);
  font-size: 2rem;
  margin: 2rem 0;
}

.posts-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  width: 32.5rem;
  height: 33rem;
  background-color: var(--whiteOpacity);
  margin: 1rem;
  text-align: left;
  position: relative;
}

.post img {
  object-fit: cover;
}

.post-header {
  padding: 1rem 1.5rem;
  max-height: 9rem;
}

.post-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.post-datos {
  font-size: 1.2rem;
}

.post-author {
  font-size: 1.5rem;
  color: var(--darkBlue);
  font-family: Montserrat-Bold, sans-serif;
}

.post-date {
  font-size: 1.5rem;
  color: var(--darkBlue);
}

.post-description {
  padding: 0 1.5rem;
  max-height: 3.4rem;
  overflow: hidden;
}

.post-description p{
  color: var(--darkBlue);
  font-size: 1.2rem;
}

.button-read-more {
  background-color: var(--blue);
  border: none;
  color: var(--darkBlue);
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 1.5rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: absolute;
  bottom: 0.3rem;
  left: 0.3rem;
}
