.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--darkBlue);
}

.logo {
  display: flex;
  width: auto;
  height: 10rem;
}

.logo-container {
  flex: 1;
}

.nav-list {
  width: 550px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav a {
  color: var(--lightBlue);
  text-decoration: none;
  font-size: 2rem;
}

.header-container li:hover{
  text-shadow: 0px 0px 3px #2CECE4;
}

.abrir-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  right: 0;
  margin: 0 20px;
  color: var(--white);
  font-size: 3rem;
}

.visible {
  display: block;
}

.abrir-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background: var(--lightBlue);
  transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 767px) {

  .abrir-menu {
    display: block;
  }

  .nav {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: var(--darkBlueOpacity);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .nav.visible {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .nav-list {
    flex-direction: column;
    display: flex;
    width: auto;
    margin-right: 2rem;
    text-align: right;
  }

  .nav-list li {
    margin-bottom: 10px;
    white-space: nowrap;
  }
}


/* .menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background: var(--lightBlue);
  transition: all 0.3s ease-in-out;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}  */