.layoutContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentPage {
    display: flex;
    justify-content: center;
    align-items: center;
}