* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  font-family: Montserrat, Helvetica, sans-serif;
  /*outline: red solid 1px;*/
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('./core/assets/images/background_AsturiasAI.png');
  background-size: cover;
}

:root {
  --black: #000;
  --white: #fff;
  --myFont: Helvetica, Arial, sans-serif;
  /*De esta forma creas variables y luego en css para llamar al color
    sin necesidad de poner el codigo pones: var(--white)*/
}