* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  font-family: var(--myFont);
  /*outline: red solid 1px;*/
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('./core/assets/images/background_AsturiasAI.png'); 
  background-size: cover;

}

:root {
  --black: black;
  --white: white;
  --darkBlue: #10254c;
  --lightBlue: #66e8f2;
  --myFont: Montserrat-Regular, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url('./core/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}