.newsLetter{
    display: flex;
    align-items: center;
    margin-bottom: 4vh;
    flex-direction: column;
}

.tittle-newsletter{
    color: white;
    text-align: center;
    padding: 2em 0 1em 0;
}

.newsLetter iframe {
    border: none;
    width: 350px;
    border-radius: 10px;
  }

