.container-contact {
  background-color: var(--blue);
  width: 50%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
}

.texto-contact {
  margin: 3rem;
  width: 30rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: larger;
}

.title-contact {
    font-size: x-large;
}

.info-contact {
    font-size: medium;
}

@media (max-width: 768px) {
  .container-contact {
    width: 100%; 
    margin: 0 auto;  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
  }

  .container-contact {
    background-color: rgba(127, 200, 255, 0.3);
    width: 60%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    
  }
}
@media (max-width: 480px) {
  .container-contact {
    width: 100%; 
    margin: 0 auto;  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
  }
}






