.container-contact {
  background-color: var(--blue);
  width: 60%;
  margin: 5em auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  gap: 4rem;
}

.texto-contact {
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: larger;
}

.title-contact {
    font-size: x-large;
}

.info-contact {
    font-size: medium;
}

@media (min-width: 480px) and (max-width: 1024px) {


  .container-contact {
    background-color: rgba(127, 200, 255, 0.3);
    width: 80%;
    display: flex;
    justify-content: space-between;
    
  }
}

@media (max-width: 480px) {
  .container-contact {
    width: 80%; 
    margin: 2rem auto;  
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  }

  .texto-contact {
    width: 100%;
    text-align: center;
  }
}






