.title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2em auto;
    background-color: rgba(127, 200, 255, 0.3);
}


.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-top: 4em;
}


.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
}

.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-bottom: 4em;
}

.round-image1,
.round-image3 {
    border-radius: 50%;
    width: 12em;
    height: 12em;
    background-color: #10254C;
    margin: 2em 2em 0 2em;
}

.round-image2 {
    border-radius: 50%;
    width: 12em;
    height: 12em;
    background-color: #10254C;
    margin: 2em 2em 0 2em;
}

.info1,
.info3 {
    width: 79%;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin-right: 3em;
    text-align: justify;
}

.info2 {
    width: 79%;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin-left: 3em;
    text-align: justify;
}

.linkedin1,
.linkedin2,
.linkedin3 {
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 1em;
    display: block;
}


hr {
    width: 90%;
    border: 1px solid #ffffff;
    margin: 5em 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12em;
    text-align: center;
}


.name1,
.name3 {
    font-size: 1.8em;
    color: #ffffff;
    margin-top: 2em;
}

.name2 {
    font-size: 1.8em;
    color: #ffffff;
    margin-top: 2em;
}

@media (max-width: 768px) {

    .quienes-somos {
        width: 90%;
    }

    .section,
    .section3 {
        flex-direction: column;
        margin-right: 5em;
        margin-left: 5em;
    }

    .section2 {
        flex-direction: column-reverse;
        margin-right: 5em;
        margin-left: 5em;
    }

    .content {

        margin-bottom: 1em;
    }

    .name1,
    .name3 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .name2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

    }

    .round-image1,
    .round-image3 {
        max-width: 90%;
    }

    .round-image2 {
        max-width: 90%;
    }

    .info1,
    .info3 {
        margin-top: 1em;
        width: 80%;
        padding-left: 3em;
    }

    .info2 {
        margin-top: 1em;
        width: 80%;
        padding-right: 3em;
    }

    .linkedin1,
    .linkedin3 {
        margin-top: 0.5em;
        width: 79%;
        word-break: break-all;
        hyphens: auto;
        margin-bottom: 1em;
    }

    .linkedin2 {
        margin-top: 0.5em;
        width: 79%;
        word-break: break-all;
        hyphens: auto;
        margin-bottom: 1em;
    }
 }