.blue-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    background-color: var(--blue);
    padding: 5%;
}

.round-image {
    border-radius: 50%;
    width: 12em;
    height: 12em;
    object-fit: cover;
}

.title {
    text-align: center;
    margin: 2em 0 0.8em 0;
    color: var(--white);
    font-size: 4em;
}

.member-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12em;
    text-align: center;

}

.member-text {
    width: 85%;
    text-align: justify;
    color: var(--white);
    font-size: 2em;
    
}

.member-text a{
    cursor: pointer; 
    color: var(--white);
}

hr {
    width: 100%;
    border: 1px solid var(--white);
    margin: 4em 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12em;
    text-align: center;
}

.name {
    font-size: 1.8em;
    color: var(--white);
    margin-top: 2em;
}

.member-text a.linkedin {
    color: var(--lightBlue);
    cursor: pointer;
    text-decoration: underline;
}

.member-text a.linkedin:hover {
    color: var(--white);
}

#member-right1, #member-right2 {
    display: flex;
    flex-direction: row-reverse;
}

.member-text p {
    margin-bottom: 1em;
}


@media screen and (max-width: 1200px) {
    
    .title {
        font-size: 3em;
    }

    .member-description, #member-right1, #member-right2 {
        flex-direction: column;
        width: 100%;
    }

    .member {
        margin-bottom: 1em;
        width: 100%;
    }

    .name {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        font-size: 1.5em; 
    }

    .member-text {
        margin-top: 1em;
        width: 100%;
        font-size: 2em;
    }


}


@media (max-width: 480px) {

    .member-text{
        font-size: 1.3em;
    }

    .title {
        font-size: 2em;
    }

}